@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 13px Helvetica, Arial;
  }
  
  .chat {
    background: grey;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  
  .side-panel {
    background: rgb(43,45,49);
    /* box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 300px;
  }
  
  .side-panel ul {
    margin: 12px 0;
  }
  
  .side-panel ul li {
    list-style: none;
    text-align: right;
    padding: 12px 36px 12px 12px;
  }
  
  .panel-link {
    text-decoration: none;
    font-size: 14px;
  }
  
  .main-panel {
    /* background: linear-gradient(180deg, #c5c5d4 0%, #b3b3c4 100%); */
    background: rgb(49,51,56);
    padding:0.9%;
    width: 100%;
  }
  
  .content {
    background: rgb(49,51,56);
    height: 100%;
  }
  
  .side-panel #title {
    font-family: 'PT Sans';
    margin: 40px 0;
    font-size: 30px;
    text-align: center;
    color:rgb(221,222,224)
  }
  
  .header {
    align-items: center;
    font-family: math;
    background: rgb(49,51,56);
    border-bottom: 3px solid black;
    display: flex;
    height: 5vh;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: -1vw;
  }
  
  #sequence-number {
    color: #2a8bf2;
    padding-right: 24px;
    font-weight: normal;
  }
  
  .chat-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  form {
    border: 1px solid black;
    background: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    border-radius: 30px;
    bottom: 4%;
    width: calc(98% - 360px);
    margin-left: 3vw;
  }
  
  form input {
    border: 0;
    outline: none;
    padding: 20px;
    width: calc(94% - 120px);
    border-radius: 30px;
  }
  
  input::placeholder {
    font-size: 14px;
    font-style: italic;
  }

  form button {
    color: grey;
    font-size: 0.95rem;
    /* background-color: black; */
    /* background: url(./assets/send-icon.png); */
    background-size: contain;
    border: none;
    /* padding: 10px; */
    margin: 10px;
    /* height: 60px; */
    width: 60px;
    border-radius: 30px;
  }

  button:hover{
    background: rgba(112, 124, 151, 0.7);;
  }
  
  #messages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 0 40px 0;
    padding: 20px;
    height: 80%;
    overflow: auto;
  }
  
  #messages li {
    padding: 12px;
  }
  
  .meta {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .meta .details {
    color: rgba(112, 124, 151, 0.7);
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .message {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:1.5vh;
  }
  
  .message .client {
    color: rgb(233, 30, 99);
    font-size: 1rem;
    margin: -24px 12px 0 0;
  }
  
  .message-body {
    display: flex;
    flex-direction: column;
  }
  
  
  .message-body .message-content {
    box-sizing: border-box;
    /* box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05), 10px 10px 25px rgba(112, 124, 151, 0.05); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: white;
    padding: 10px;
    font-size: 14px;
    min-width: 300px;
    max-width: 600px;
    word-wrap: break-word;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
  }
  
  .message-body .message-timestamp {
    color: rgba(112, 124, 151, 0.7);
    font-size: 12px;
    text-align: right;
    margin-top: 8px;
  }
  #clientsideid{
    color: rgb(239,241,243);
    font-size:16px;
  }
  
  .new-connection,
  .disconnection {
    color: rgba(112, 124, 151, 0.7);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
  }
  
  .new-connection:before,
  .new-connection:after,
  .disconnection:before,
  .disconnection:after {
    background-color: rgba(112, 124, 151, 0.7);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 24%;
  }
  
  .new-connection:before,
  .disconnection:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .new-connection:after,
  .disconnection:after {
    left: 0.5em;
    margin-right: -50%;
  }
  
  .new-connection #text {
    text-align: center;
  }
  
  .new-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }
  #topic-id{
    font-size:20px;
    margin-left: 3.7vw;
    color:rgb(221,222,224)
  }
  
  /* reorganize our chat layout on smaller width screens */
  @media screen and (max-width: 1024px) {
    .chat {
      background: linear-gradient(180deg, #c5c5d4 0%, #b3b3c4 100%);
      flex-direction: column;
      justify-content: start;
    }
  
    .main-panel {
      height: calc(
        100% - 200px
      ); /* offset 100px for each nav & form input field */
    }
  
    .side-panel {
      height: 100px;
      padding: 2%;
      display: flex;
      justify-content: space-between;
      width: 100%;

    }
  
    .side-panel #title {
      margin: 18px 0;
    }
  
    .side-panel ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 18px 0;
    }
  
    #messages {
      height: calc(100% - 80px);
    }
  
    form {
      border-top: none;
      left: 12%;
      width: 96%;
    }
  }